<section class="app-modal">
  <div class="app-modal-background">
    <div class="app-modal-content my-3">
      <div class="d-flex justify-content-end">
        <app-button
          class="m-2"
          [width]="40"
          [height]="40"
          [icon]="closeIcon"
          addedClass="x-button vertical-align-center"
          (clickChange)="onCancel()"
        ></app-button>
      </div>
      <header class="my-1">
        <h5 class="text-center">{{ title }}</h5>
      </header>
      <main class="my-4">
        <p class="text-center">{{ message }}</p>
      </main>
      <footer class="d-flex justify-content-around">
        <div>
          <app-button
            [width]="120"
            [height]="40"
            [label]="cancelBtn"
            (clickChange)="onCancel()"
          ></app-button>
        </div>
        <div>
          <app-button
            [width]="120"
            [height]="40"
            [label]="okBtn"
            (clickChange)="onSubmit()"
          ></app-button>
        </div>
      </footer>
    </div>
  </div>
</section>
