<article class="row xs-12 p-4 p-3">
  <form [formGroup]="createCourse" (ngSubmit)="onSubmit()">
    <div class="d-flex justify-content-between my-2">
      <div class="form-group w-50">
        <label for="card-edit-title">Title</label>
        <input
          type="text"
          id="card-edit-title"
          class="form-control border border-warning"
          name="title"
          formControlName="title"
        />
        <p
          class="text-danger"
          *ngIf="
            (createCourse?.get('title')?.invalid &&
              createCourse?.get('title')?.touched) ||
            (isSubmited && createCourse?.get('title')?.invalid)
          "
        >
          Title is required
        </p>
      </div>

      <app-button
        class="d-flex align-contnent-center"
        type="submit"
        [width]="140"
        [height]="40"
        label="Create course"
      ></app-button>
    </div>
    <div class="my-4">
      <label for="card-edit-description">Description</label>
      <textarea
        type="text"
        id="card-edit-description"
        class="form-control border border-warning"
        name="description"
        formControlName="description"
        rows="7"
      ></textarea>
      <p
        class="text-danger"
        *ngIf="
          (createCourse?.get('description')?.invalid &&
            createCourse?.get('description')?.touched) ||
          (isSubmited && createCourse?.get('description')?.invalid)
        "
      >
        Description is required
      </p>
    </div>
    <div
      class="p-3 border border-success border-dark d-flex justify-content-between"
    >
      <div class="w-50">
        <div class="form-group">
          <h4 class="text-center">Add authors</h4>
          <label for="card-edit-add-authors">Add authors</label>
          <input
            type="text"
            id="card-edit-add-authors"
            class="form-control border border-warning"
            name="add_authors"
            [formControlName]="'addAuthor'"
          />
          <p
            class="text-danger"
            *ngIf="
              (createCourse?.get('addAuthors')?.invalid &&
                createCourse?.get('addAuthors')?.touched) ||
              (isSubmited && createCourse?.get('addAuthors')?.invalid)
            "
          >
            Author name incorrect must use only latin letters or numbers
          </p>
          <app-button
            class="d-flex justify-content-center my-3"
            type="button"
            [width]="140"
            [height]="40"
            label="Create author"
            (clickChange)="onAddAuthor()"
          ></app-button>
        </div>
        <div class="form-group">
          <h4 class="text-center">Duration</h4>
          <label for="card-edit-title">Duration</label>
          <input
            id="card-edit-duration"
            class="form-control border border-warning"
            name="duration"
            formControlName="duration"
            [(ngModel)]="duration"
          />
          <p
            class="text-danger"
            *ngIf="
              (createCourse?.get('duration')?.invalid &&
                createCourse?.get('duration')?.touched) ||
              (isSubmited && createCourse?.get('duration')?.invalid)
            "
          >
            Duration is required
          </p>
          <div class="my-3">
            Duration: {{ duration ? (duration | duration) : "00:00" }} hours
          </div>
        </div>
      </div>
      <div class="w-50">
        <h4 class="text-center">Authors list</h4>
        <div
          class="mx-5 my-3"
          *ngFor="let author of getAuthors(); let i = index"
        >
          <div class="d-flex justify-content-between">
            <p>{{ author }}</p>
            <app-button
              [id]="i"
              class="d-flex align-contnent-center"
              [width]="140"
              [height]="40"
              label="Delete author"
              (clickChange)="deleteAuthor(i)"
            ></app-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</article>
