@use "../../../../styles/variables";

.custom-btn {
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  border-color: variables.$btn-color;
  border-radius: 1px;

  &:hover,
  &:focus {
    background-color: variables.$btn-color;
    color: variables.$bg-color;
  }
}

.x-button {
  border-radius: 0;

  &:hover,
  &:focus {
    background-color: variables.$alt-bg-color;
    color: variables.$alt-hvr-color;
  }
}
