<form class="my-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h2 class="text-center">Registration</h2>
  <div class="form-group my-2 w-25 mx-auto">
    <label for="registration_name_12836">Name</label>
    <input
      type="text"
      id="registration_name_12836"
      class="form-control border border-warning"
      formControlName="name"
      name="name"
    />
    <p
      class="text-danger"
      *ngIf="
        (!registerForm?.get('name')?.valid &&
          registerForm?.get('name')?.touched) ||
        (isSubmited && !registerForm?.get('name')?.valid)
      "
    >
      Name is required
    </p>
  </div>
  <div class="form-group my-2 w-25 mx-auto">
    <label for="registration_email_12836">Email</label>
    <input
      type="text"
      id="registration_email_12836"
      class="form-control border border-warning"
      formControlName="email"
      name="email"
      AppEmailCustomValidator
    />
    <p
      class="text-danger"
      *ngIf="
        (!registerForm?.get('email')?.dirty &&
          registerForm?.get('email')?.touched) 
      "
    >
      Email is required
    </p>
    <p
      class="text-danger"
      *ngIf="
        (!registerForm?.get('email')?.valid &&
          registerForm?.get('email')?.touched) ||
        (isSubmited && !registerForm?.get('email')?.valid)
      "
    >
      Email is not match
    </p>
  </div>
  <div class="form-group my-2 w-25 mx-auto">
    <label for="registration_password_2131236">Password</label>
    <input
      type="password"
      id="registration_password_2131236"
      class="form-control border border-warning"
      name="password"
      formControlName="password"
    />
    <p
      class="text-danger"
      *ngIf="
        (!registerForm?.get('password')?.valid &&
          registerForm?.get('password')?.touched) ||
        (isSubmited && !registerForm?.get('password')?.valid)
      "
    >
      Password is required
    </p>
  </div>
  <div class="mx-auto d-flex justify-content-center my-4">
    <app-button
      type="submit"
      [width]="140"
      [height]="40"
      label="Registration"
    ></app-button>
  </div>
  <div>
    <p class="text-center">If you have the account you can</p>
    <div class="mx-auto d-flex justify-content-center">
      <a class="text-center" href="#">Login</a>
    </div>
  </div>
</form>
